@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



html {
	height:100%;
	width:100%;
}
html body {
	font-family: 'Circe', sans-serif, 'Arial', sans-serif;
	font-size: 18px;
	color: #35364d;
	margin:0;
	padding:0;
	background:url(../img/00.jpg) center 800px no-repeat;
}
a{
	color:#fff;
	text-decoration:none;
	transition:0.3s;
}
a:hover{
	text-decoration:underline;
	cursor:pointer
}
p{
	margin: 0px 0 10px 0px;
	line-height: 24px;
}
ul{
	padding:0;
	margin:0;
}
img{
	max-width:100%;
	height:auto;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
.hidden{
	display:none;
}
hr{
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}
/*Стилизация placeholder (черный без прозрачности):*/
input::-webkit-input-placeholder {color:#737881;opacity:1}
input::-moz-placeholder {color:#737881; opacity:1}
input::-ms-input-placeholder {color:#737881; opacity:1}
input::–о-placeholder {color:#737881; opacity:1}
textarea::-webkit-input-placeholder {color:#737881;opacity:1}
textarea::-moz-placeholder {color:#737881; opacity:1}
textarea::-ms-input-placeholder {color:#737881; opacity:1}
textarea::–о-placeholder {color:#737881; opacity:1}
/*Убираем рамки у ссылок и кнопок :focus*/
*:focus,input:focus,textarea:focus {outline:none;}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
/*Убираем placeholder при :focus*/
:focus::-webkit-input-placeholder {color:transparent}
:focus::-moz-placeholder {color:transparent}
:focus:-moz-placeholder {color:transparent}
:focus:-ms-input-placeholder {color:transparent}

/* Forms */
form .form-title,.modal-title {
    font-size: 26px;
    font-weight: 700;
    margin:10px 0 25px;
}
.fancybox-content .modal-title{text-align:center;}
form .form-subtitle,.modal-subtitle {
    font-size: 20px;
    font-weight: 400;
	text-align:center;
    margin:0 0 15px;
}
form label {
	display:block;
	font-size:16px;
	margin:0 0 10px 0;
	padding:0 0 0 15px;	
}
form input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 38px;
    font-size: 17px;
    font-weight: 700;
    background: #fff;
    border:1px solid transparent;
    box-shadow: 0 2px 5px 0 rgba(82, 60, 20, 0.15);
    border-radius: 3px;
    padding: 0 0 0 20px;
    margin: 0 0 10px 0;
}
form input[type="submit"] {
	display: block;
    width: 100%;
    background: #0078ff;
    padding: 0;
	color:#fff;
    box-shadow: 0 10px 30px 0 rgba(0, 149, 255, 0.3);
	cursor:pointer;
}
form .form-annotation{
	font-size:16px;
	color:#727780;
	margin:15px 0 0 0;
}


/* Typo */
.blue-button{
	background:#0078ff;
	color:#fff;
	font-size:16px;
	font-weight:700;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	box-shadow:0 10px 30px 0 rgba(0, 149, 255, 0.3);
}
.block-title{
	font-size:66px;
	font-weight:700;
	line-height:76px;
	margin:0 0 40px;
}
.marquee {
    display: block;
    overflow: hidden;
}



header{
	padding:23px 0 27px;
	border-bottom:1px solid #d3d8db;
}
header .head-logo{
	display:block;
	width:293px;
	height:47px;
	background:url(../img/logo.png);
}
header .head-location{
	background:url(../img/local-icon.png) 0 no-repeat;
	padding:0 0 0 36px;
	font-size:17px;
	font-weight:700;
}
header .head-location span{
	font-size:15px;
	font-weight:400;
}
header .head-location .location-map{color:#0078ff;}
header .head-schedule{
	background:url(../img/clock-icon.png) 0 0 no-repeat;
	padding:0 0 0 40px;
}
header .head-schedule .weekend{
	display:block;
	font-size:15px;
	font-weight:400;	
}
header .head-schedule .worktime{
	display:block;
	font-size:17px;
	font-weight:700;	
}
header .head-contacts{
	background:url(../img/phone-icon.png) 0 13px no-repeat;
	padding:0 0 0 40px;
}
header .head-contacts .head-phone{
	display:block;
	font-size:22px;
	font-weight:700;
	color:#35364d;
	margin:0 0 7px;
}
header .head-contacts .head-phone:hover{text-decoration:none;}
header .head-contacts .head-callback{
	width:150px;
	height:30px;
	line-height:30px;
}


.main-trigger{margin:0 0 50px;}
.main-trigger .main-trigger-title{
	font-size:50px;
	line-height:56px;
	font-weight:700;
	margin:0 0 20px 0;
}
.main-trigger .main-trigger-title span{
	display:inline-block;
	background:#fff6e8;
	border-radius:25px;
	padding:0 0 0 15px;
	margin-left: -15px;
}
.trigger-slider{
	width:calc(100% + 20px);
	height:480px;
	background-size:cover;
	color:#fff;
	text-align:center;
	margin:0;
}
.trigger-slider:before{
	content:'';
	width:132px;
	height:100%;
	background:url(../img/trigger-slider-left-bg.png) center no-repeat;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}
.trigger-slider:after{
	content:'';
	width:121px;
	height:100%;
	background:url(../img/trigger-slider-right-bg.png) center no-repeat;
	position:absolute;
	top:0;
	right:0;
	z-index:10;
}
.trigger-slider .slick-track, .trigger-slider .slick-list{
	display:flex;
	height:100%;
}
.trigger-slider .slick-dots{bottom:150px;}
.trigger-slider .slick-slide{
	display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-size:cover!important;
}
.trigger-slider .slide-title{
	font-size:70px;
	font-weight:700;
}
.trigger-slider .slide-info{
	font-size:20px;
	line-height:26px;
}
.trigger-advices .single-advice{margin:0 0 30px;}
.trigger-advices .single-advice .img-container{
	display:inline-block;
	vertical-align:middle;
	width:85px;
	padding:0;
}
.trigger-advices .single-advice .advice-info{
	display:inline-block;
	vertical-align:middle;
	width:calc(100% - 95px);
	font-weight:700;
	text-decoration:underline;
}


.calculator-block{
	padding:35px 30px 25px 30px; 
	background:#fff6e8;
	border:1px solid #f8cc1b;
	border-radius:5px;
	margin-top: -34px;
}
.calculator-block .calculator-title{
	font-size:30px;
	font-weight:700;
	margin:0 0 20px 0;
}


form#order-calculator .roof-price,form#order-calculator .lamp-price{
	font-size:30px;
	font-weight:700;
	padding:0 0 0 15px;
	margin-bottom:5px;
}
form#order-calculator .lamp-price:before{
	content:'+';
	font-size:30px;
	font-weight:700;
	position:absolute;
	left:-9px;
}
form#order-calculator .total-price{
	display:inline-block;
	vertical-align:middle;
	font-size:24px;
	font-weight:700;
	text-decoration: line-through;
	padding:0 0 0 15px;	
}
form#order-calculator .total-price:before{
	content:'=';
	font-size:30px;
	font-weight:700;
	position:absolute;
	left:-9px;
}
form#order-calculator .discount-price{
	display:inline-block;
	vertical-align:middle;
	font-size:30px;
	font-weight:700;
	color:#0078ff;
	margin:0 0 0 5px;	
}
form#order-calculator .discount-number{
	display:inline-block;
	vertical-align:middle;
	font-size:17px;
	font-weight:700;
	color:#0078ff;
	background:#cce4ff;
	text-align:center;
	border-radius:15px;
	padding:4px 7px 3px;
	margin:0 0 0 5px;
}
form#order-calculator .row{
    margin-right:-5px;
    margin-left:-5px;	
}
form#order-calculator .row [class*="col-"]{
    padding-right:5px;
    padding-left:5px;
}
form#order-calculator input.phone{padding-left:8px;}
form#order-calculator input[type="submit"]{margin-top: 28px;}
form#order-calculator .form-annotation{text-align:right; margin-top:10px;}


.steps-block{margin:0 0 65px;}
.steps-list{margin:0 0 50px;}
.steps-list .single-step .step-title{
	font-size:25px;
	font-weight:700;
	margin:0 0 15px;
}
.steps-list .single-step .step-info{
	min-height:75px;
	font-size:18px;
	line-height:24px;
	margin:0 0 20px;
}
.steps-list .single-step:after{
	content:'';
	display:block;
	margin:0 0 0 auto;	
}
.steps-list .single-step:first-child:after{
	content:'';
	width:305px;
	height:259px;
	background:url(../img/single-advice-after1.png);
}
.steps-list .single-step:nth-child(2):after{
	content:'';
	width:311px;
	height:261px;
	background:url(../img/single-advice-after2.png);
}	
.steps-list .single-step:nth-child(3):after{
	content:'';
	width:311px;
	height:266px;
	background:url(../img/single-advice-after3.png);
}
.steps-block .steps-about{
	position:relative;
	padding:25px 50px 15px 150px;
	border:1px solid #0078ff;
	border-radius:3px;
	background:#eef6ff;
}
.steps-block .steps-about:before{
	content:'';
	width:145px;
	height:145px;
	background:url(../img/man-img.png);
	position:absolute;
	bottom:0;
	left:0;
}
.steps-block .steps-about .steps-about-title{
	font-size:22px;
	line-height:35px;
	margin:0 0 5px;
}
.steps-block .steps-about p{font-size:16px;}


.works-block{margin:0 0 85px;}
.works-slider{
	max-width:920px;
	margin:0 auto 100px;
}
.works-slider .slick-slide{border:1px solid #0095ff;}
.works-slider .slick-slide .work-logo{
	display:block;
	margin:0 0 20px;
}
.works-slider .slick-slide .slide-content{padding:20px 0 20px 35px;}
.works-slider .slick-slide .work-area{
	font-size:22px;
	font-weight:700;
	margin:0 0 20px;
}
.works-slider .slick-slide .work-options{
	font-size:16px;
	line-height:24px;
	margin:0 0 15px;
}
.works-slider .slick-slide .work-price{
	font-size:22px;
	font-weight:700;
	color:#0078ff;
	margin:0 0 20px;
}
.works-slider .slick-slide .work-order{
	width:135px;
	height:40px;
	line-height:40px;
}
.works-trigger{
	background:#fff6e8;
	border:1px solid #f8cc1b;
	border-radius:5px;
	padding:25px 30px;
}
.works-trigger .trigger-select{padding-right:50px;}
.works-trigger .trigger-select .trigger-select-title{
	font-size:30px;
	font-weight:700;
	line-height:35px;
	margin:0 0 15px;
}
.works-trigger .trigger-select label{
	display:block;
	font-size:16px;
	padding:0 0 0 10px;
	margin:0 0 5px 0;
}
.works-trigger .trigger-select select{
	display: block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 700;
    background: #fff;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(82, 60, 20, 0.15);
    border-radius: 3px;
    padding: 0 0 0 10px;	
	
	
}
.works-trigger .trigger-result{
	border-left:1px solid #e1d9d1;
	padding:0 0 0 50px;
	max-width:600px;
}
.works-trigger .trigger-result .trigger-result-title{
	font-size:20px;
	line-height:25px;
	font-weight:700;
	margin:0 0 15px;
}
.works-trigger .trigger-result p{
	font-size:16px;
	line-height:22px;
	margin:0 0 20px;
}
.works-trigger .trigger-result form{max-width:370px;}
.works-trigger .trigger-result form .row{
	margin-left:-5px; 
	margin-right:-5px;
}
.works-trigger .trigger-result form [class*="col-"]{
	padding-left:5px; 
	padding-right:5px;
}
.works-trigger .trigger-result form label{
    display: block;
    font-size: 16px;
    padding: 0 0 0 10px;
    margin: 0 0 10px 0;
}	
.works-trigger .trigger-result form .form-annotation{
	font-size:16px;    
	text-align: left;
	color:#727780;
	margin:10px 0 0;
}


.reasons-block{margin:0 0 85px;}
.reasons-list {margin:0 0 30px;}
.reasons-list .single-reason{margin:0 0 50px;}
.reasons-list .single-reason .img-container{width:180px;}
.reasons-list .single-reason .content-container{width:calc(100% - 180px);}
.reasons-list .single-reason .reason-title{
	font-size:25px;
	font-weight:700;
	margin:0 0 15px;
}
.reasons-list .single-reason .reason-info{line-height:24px;}
.reasons-list .single-reason p:last-child{margin:0;}
.reasons-block .reasons-trigger{
    position: relative;
    border: 1px solid #0078ff;
    border-radius: 3px;
}
.reasons-block .reasons-trigger .rt-title{
	font-size:25px;
	font-weight:700;
	margin:0 0 15px;
}
.reasons-block .reasons-trigger.style1{background:#fff; padding:40px 0 30px}
.reasons-block .reasons-trigger.style1 .reasons-trigger-inner{padding:0 25px 0 40px;}
.reasons-block .reasons-trigger.style1 .lamp-collection{
	width:100%;
	height:43px;
	margin:35px 0 0 0;
	background:url(../img/lamp-bg.png) repeat-x;
}
.reasons-block .reasons-trigger.style2{padding: 40px 160px 40px 40px;}
.reasons-block .reasons-trigger.style2:after{
	content:'';
	width:164px;
	height:167px;
	background:url(../img/terminals-bg.png);
	position:absolute;
	right:-12px;
	top:calc(50% - 82px);
}
 

.reviews-block{margin:0 0 75px;}
.reviews-list .single-review{
	margin:0 0 55px;
	transition:0.35s;
}
.reviews-list .single-review .review-video-preview{
	position:relative;
	display:block;
	background:#0078ff;
	border-radius:5px;
	overflow:hidden;
	margin:0 0 20px;
}
.reviews-list .single-review .review-video-preview:before{
	content:'';
	width:100%;
	height:100%;
	background:rgba(0, 120, 255, 0.6);
	position:absolute;	
	left:0;
	top:0;
}
.reviews-list .single-review .review-video-preview:after{
	content:'';
	width:80px;
	height:80px;
	background:url(../img/play-button.png);
	position:absolute;	
	left:calc(50% - 40px);
	top:calc(50% - 40px);
	opacity:0.8;
	transition:0.35s;
}
.reviews-list .single-review:hover .review-video-preview:after{opacity:1;}
.reviews-list .single-review .autor-name{
	font-size:25px;
	font-weight:700;
	margin:0 0 10px;    
	padding-left: 15px;
}
.reviews-list .single-review .review-info{padding-left: 15px;}
.reviews-list .single-review i.video-icon.youtube{
	display:block;
	width:35px;
	height:40px;
	background:url(../img/youtube-review-icon.png);
}
.reviews-block .show-more-reviews{
	position:relative;
	width:225px;
	margin:0 auto;
	font-size:17px;
	line-height:20px;
	padding:10px 0 10px 65px;
	text-align:left;
}
.reviews-block .show-more-reviews:before{
	content:'';
	width:25px;
	height:25px;
	background:url(../img/showmore-button-icon.png);
	position:absolute;
	top:calc(50% - 12px);
	left:23px;
}


.bottom-trigger{margin:0 0 85px 0;}
.bottom-trigger .block-title{margin:0;}
.bottom-trigger .bottom-trigger-slogan{font-size:22px; margin:0 0 55px;}
.bottom-trigger .bottom-trigger-form{
	position:relative;    
	display: flex;
    align-items: center;
	min-height:250px;
	background:#fff6e8;
	border:1px solid #f8cc1b;
	border-radius:5px;
	padding:26px 30px;
}
.bottom-trigger .bottom-trigger-form:after{
	content:'';
	width:305px;
	height:279px;
	background:url(../img/bottom-trigger-form-bg.png);
	position:absolute;
	right:0;
	top:-29px;
}
.bottom-trigger .bottom-trigger-form form{
	max-width:445px;
	z-index: 10;
}
.bottom-trigger .bottom-trigger-form form .form-title{
	font-size:30px;
	font-weight:700;
	margin:0 0 25px;
}
.bottom-trigger .bottom-trigger-form form label{
	display:block;
	font-size:16px;
	padding:0 0 0 10px;
	margin:0 0 5px 0;
}
.bottom-trigger .bottom-trigger-form form input{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.bottom-trigger .bottom-trigger-form form input[type="submit"]{
	height:50px;
	line-height:50px;
}
.bottom-trigger .bottom-trigger-form form .form-annotation{text-align:left; margin:0;}
.bottom-trigger-slider {
	height:100%;
	border-radius: 7px;
    overflow: hidden;
}
.bottom-trigger-slider .slick-track,.bottom-trigger-slider .slick-list{
	display:flex;
	height:100%;
}
.bottom-trigger-slider .slick-dots {
	width:auto; 
	left:30px;
}
.bottom-trigger-slider .slick-dots li button{background:#fff;}
.bottom-trigger-slider .slick-dots li.slick-active button {background:#0078ff;}
.bottom-trigger-slider .slick-slide{
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    background-size: cover!important;
	color:#fff;
	padding:0 30px;
}
.bottom-trigger-slider .slick-slide .slide-title{
	font-size:40px;
	font-weight:700;
	line-height:45px;
	margin:0 0 15px;
}
.bottom-trigger-slider .slick-slide .slide-info{
	font-size:20px;
	line-height:26px;
}

	
footer{
	font-size:16px;
	padding:50px 0;
	border-top:1px solid #e3e7eb;
}
footer .footer-logo{
    display: block;
    width: 293px;
    height: 47px;
    background: url(../img/logo.png);
}	
footer .footer-location{
	background:url(../img/local-icon.png) 0 top no-repeat;
	padding:0 0 0 36px;
	font-size:17px;
	font-weight:700;
	margin:0 0 20px 0;
}
footer .footer-location span{
	font-size:15px;
	font-weight:400;
}
footer .footer-location .location-map{
	display:block;
	color:#0078ff;
}
footer .footer-schedule{
	background:url(../img/clock-icon.png) 0 0 no-repeat;
	padding:0 0 0 40px;
	margin:0 0 25px 0;
}
footer .footer-schedule .weekend{
	display:block;
	font-size:15px;
	font-weight:400;	
}
footer .footer-schedule .worktime{
	display:block;
	font-size:17px;
	font-weight:700;	
}
footer .footer-copyrights{
	font-size:16px;
	text-align:center;
	color:#727780;
}
footer .footer-autor{text-align:right;}
footer .footer-autor a{
	display:block;
	margin:3px 0 0 0;
}

.fancybox-content{background:#fff6e8!important;}



@media only screen and (max-width: 1179px), only screen and (max-device-width: 1179px) {
header .head-location .location-map{display:block;}
}

@media only screen and (max-width: 992px), only screen and (max-device-width: 992px) {
.block-title {font-size:46px; line-height:54px; margin:0 0 30px;}

header .head-logo {width:263px; height:43px; background-size:contain;}

.trigger-slider{width:100%;}
.trigger-slider:before,.trigger-slider:after{display:none;}
.calculator-block{margin:50px 0;}
.main-trigger .main-trigger-title {font-size: 40px;}
.trigger-advices{margin-top:40px;}
.trigger-advices .single-advice {display:inline-block; width:32%;}

.steps-list .single-step:first-child:after,.steps-list .single-step:nth-child(2):after,.steps-list .single-step:nth-child(2):after,.steps-list .single-step:nth-child(3):after {width:210px; height:177px; background-size: cover;}

.reasons-block{margin:0 0 50px;}
.reasons-block .reasons-trigger{margin:0 0 30px;}

.works-slider .slick-slide .slide-content {padding:20px 0 20px 0;}

.bottom-trigger .bottom-trigger-form{margin:0 0 35px 0;}
.bottom-trigger .bottom-trigger-slider{width:350px; height:250px; margin:0 auto;}

footer .footer-autor{margin:25px auto 0;}
footer .footer-autor a{display:inline-block; vertical-align:middle; margin:0;}
}


@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
.block-title {font-size:30px; line-height:45px; margin:0 0 20px;}
	
.trigger-slider {height:360px;}
.trigger-slider .slide-title {font-size:50px;}
.trigger-slider .slide-info {font-size:18px; line-height:22px;}
.trigger-slider .slick-dots {bottom:30px;}

.main-trigger .main-trigger-title {font-size:30px; line-height:36px;}

.calculator-block {padding:25px 20px 25px 20px;}
.calculator-block .calculator-title {font-size:25px;}
form#order-calculator .lamp-price:before{position:relative; left:0; top:-6px; display:block;}
form#order-calculator .total-price:before{position:relative; left:0; display:inline-block; margin:0 8px 0 0;}
form#order-calculator .roof-price, form#order-calculator .lamp-price,form#order-calculator .total-price{padding:0;}
form#order-calculator .row [class*="col-"]{margin-bottom:12px;}
form#order-calculator input[type="submit"]{margin-top:0;}
form#order-calculator .discount-price{font-size:26px;}
form#order-calculator .form-annotation{display:none;}

.reviews-list .single-review{max-width:360px; margin:0 auto 55px;}
.reviews-list .single-review .review-video-preview img{width:100%;}

.trigger-advices .single-advice {display:block; width:100%;}

.steps-list .single-step{margin:0 0 40px;}
.steps-list .single-step .step-title {font-size:24px; margin:0 0 10px;}
.steps-list .single-step:first-child:after, .steps-list .single-step:nth-child(2):after, .steps-list .single-step:nth-child(2):after, .steps-list .single-step:nth-child(3):after {width:260px; height:222px; background-size:cover; margin:0 auto;}

.steps-block .steps-about {padding:15px;}
.steps-block .steps-about:before{display:none;}

.works-slider .slick-slide .work-logo{display:none;}
.works-slider .slick-slide .slide-content{width:160px; margin:0 auto;}

footer .footer-logo{margin:0 auto 25px;}
footer .footer-autor {text-align: center;}
}



@media only screen and (max-width: 567px), only screen and (max-device-width: 567px) {
html body{font-size:16px;}
p{font-size:16px; line-height:20px;}

header .head-logo {width:66px; height:37px; background-size:cover;}

.steps-list .single-step .step-info {font-size:16px; line-height:20px; margin:0 0 10px;}
.works-slider {margin:0 auto 20px;}
.works-slider .slick-slide {border:none;}

.works-block {margin: 0 0 35px;}
.works-trigger {padding:20px 15px;}
.works-trigger .trigger-select {padding-right:0; margin:0 0 30px;}
.works-trigger .trigger-select .trigger-select-title {font-size:25px; line-height:30px;}
.works-trigger .trigger-result {border-left:none; padding: 0 15px 0 15px;}

.reasons-list .single-reason .img-container {width:110px; margin:0 10px 0 0;}
.reasons-list .single-reason .reason-title {font-size:20px;}
.reasons-list .single-reason .reason-info {line-height:24px;}

.reasons-block .reasons-trigger{margin: 0 0 10px;}
.reasons-block .reasons-trigger .rt-title{font-size:20px;}
.reasons-block .reasons-trigger.style1 {padding:20px 12px 60px 12px; background:#fff url(../img/lamp-bg-mobile.png) center bottom 25px no-repeat;}
.reasons-block .reasons-trigger.style2 {padding:20px 85px 20px 12px; background:#edf6ff;}
.reasons-block .reasons-trigger.style2:after {width:103px; height:105px; top:calc(50% - 51px); background-size:cover;}

.bottom-trigger {margin:0;}
.bottom-trigger .bottom-trigger-slogan {font-size:16px; margin:0 0 25px;}
.bottom-trigger .bottom-trigger-form {min-height:auto; padding:20px 20px;}
.bottom-trigger .bottom-trigger-form:after{display:none;}
.bottom-trigger .bottom-trigger-form form{max-width:100%;}
.bottom-trigger .bottom-trigger-slider {max-width:350px; width:100%;}

footer{border-top:0; padding:30px 0;}
footer .footer-copyrights{margin:0 0 15px;}
footer .footer-copyrights{text-align:left;}
footer .footer-autor {margin:0 auto;}
}